body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
/* design for header below  */
header {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
/* design for footer below  */

footer {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-top: auto;
}
/* design for quiz below  */

.quiz-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin: 20px auto;
}

.quiz-header h2 {
    margin-bottom: 10px;
}

.quiz-header ul {
    list-style: none;
    padding: 0;
}

.quiz-header ul li {
    margin-bottom: 10px;
}

.quiz-header ul li input {
    margin-right: 10px;
}

#submit {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#submit:hover {
    background: #0056b3;
}
